<!DOCTYPE html>
<head>
    <title>CSRF</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <h1>CoolElf.BLoG.me</h1>
    <p>
        Today I was at the battle of the Helms Deep, and I was able to kill 1000 orcs. I am so proud of myself. I am the best elf in the world.
        There was this friend of mine, who could not see over the wall. He is called Gimli. He is so short. I am so tall. I am the best elf in the world.
        We both killed 42 orcs each.
        I am so proud of myself. I am the best elf in the world.
    </p>
    --- ADD MALICOUS ELEMENTS HERE ---
</body>