<header class="title">
    <h1 class='title-text'><%= title.title %></h1>
    <img class='title-logo' src= <%-fitlogo%>   alt="FIT">
    <p>Logged as: RANDOM</p>
</header>
<nav>
    <ul class='topnav'>
        <li><a class="active"  href="/">Home</a></li>
        <li><a href="/xss">XSS</a></li>
        <li style="float:right"><a href="/about">About</a></li>
    </ul>
</nav>