:root {
    --fitblue: #00a9e0;
    --fitblue-darker: #004e68;
    --fitred: #e4002b;
    --green: #028b02;
    --darkgreen: #006400;
    --darkred: #8b0000;
    --lightgrey: #b6b6b6;
  }

body {
    text-align: left;
    align-items: center;
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #202020;
    /* background-image: linear-gradient(0deg, rgb(255, 255, 255) , rgb(12, 12, 12)); */
    height: 100vh;
}

a:link {
    color: var(--fitblue-darker);
}
a:visited {
    color: var(--darkred);
}



/* .hero h1 {
    box-shadow: inset 0 -6px 0 0 var(--fitred); 
 } */

.title{
    font-size: 20px;
    font-weight: bold;
    color: var(--fitblue);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.title-logo{
    margin-left: auto;
    margin-right: 10px;
    align-items: end;
    height: 50px;
    display: inline-block;
    vertical-align: text-top;
}

.title-text{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: var(--fitblue);
    text-align: left;
    margin-bottom: 20px;
    padding: 5px;
    vertical-align: middle;
}

ul.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-inline-start: 0px;
}
  
ul.topnav li {
    float: left;
}
  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.topnav li a:hover:not(.active) {
    background-color: var(--fitred);
    border-color: var(--fitblue);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
}
  
ul.topnav li a.active {
    background-color: var(--fitblue);
    border-color: var(--fitblue);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
}
  
ul.topnav li.right {
    float: right;
}
  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


.page-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-wrapper.footer {
    max-width: max-content;
    min-width: 90%;
    margin-right: 0px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
    margin-left: 10%;
}

.main {
    max-width: 1170px;
    margin-right: 0px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: center;
    display: left;
    flex-grow: 1;
}

.hero{
    text-align: center;
    top: 50%;
    left: 50%;
    color: var(--fitblue);
    font-size: x-large;
    min-height: 100%;
    padding-top: 100px;
}

.footer hr {
    margin-top: 10px;
    color: black;
}

.footer p {
    color: black;
    align-items: center;
    text-align: center;
}

img {
    max-width: 90%;
    height: auto;
}

.note{
    color: var(--fitblue);
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.err-note{
    color: var(--fitred);
    border: 3px solid;
}

.success-note{
    color: var(--green);
    border: 3px solid;
}

.user-div-form label{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;

}

.user-div-form{
    display: flex;
}

.user-div-form-ch.left{
    flex: 1;
    margin: 20px;
}

.user-div-form-ch.right{
    margin: 20px;
    flex: 1;
}

.clickjacking-iframe-wrapper{
    text-align: center;

}


code {
    padding: 2px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 14px;
    font-weight: 600;
    color: var(--fitblue-darker);
}

input{
    padding: 5px;
    margin: 0px 5px 5px 5px;
    border-radius: 5px;
    border: 2px solid var(--fitblue);
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

table th{
    background-color: var(--fitblue);
    color: white;
    margin: 10px;
    padding: 5px;
}

table tr{
    margin: 10px;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}
  
table tr:nth-child(even) {
    background-color: #d3d3d3;
}

table td{
    padding: 5px;
    margin: 10px;
}




button {
    background-color: var(--fitblue);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
button.good {
    background-color: var(--green);
}

button.bad {
    background-color: var(--fitred);
}

button.good:hover {
    background-color: var(--darkgreen);
}

button.bad:hover {
    background-color: var(--darkred);
}

button:hover {
    background-color: var(--fitblue-darker);
}

.decoy-button{
    background-color: var(--fitblue);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.decoy-button:hover {
    background-color: var(--fitblue-darker);
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid ;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items {
    position: absolute;
    border: none;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 5px;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: whitesmoke;
    border-bottom: 1px solild var(--fitblue);
    border-radius: 5px;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--fitblue);
    color: #ffffff;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--fitblue) !important;
    color: #ffffff;
}

.clickjacking-iframe{
    position: relative;
    z-index: 1;
    top: -48px;
    left: 136px;
    max-height: 50px;
    opacity: 0;
}

.after-clickjacking p {
    text-align: left;
}




