<!-- 
    footer snippet to be included in all views
    Jan Zboril 
    xzbori20@stud.fit.vutbr.cz
    FIT VUT Brno 2023
    WAP proj2
 -->


<footer class="footer">
    <hr> 
    <p>   
        <%= author.name %>, © <%= year %> <br>
        <%- school %> <br>
    </p>
    <div class="footer-icons">
        <a href="https://github.com/RollLikeRollo/"><img src="/images/github.png" alt="github"></a>
        <a href="https://www.linkedin.com/in/janzboril/"><img src="/images/linkedin.png" alt="linkedin"></a>
        <a href="https://rolllikerollo.github.io/edu/"><img src="/images/web.png" alt="web"></a>
    </div>
</footer>