<!DOCTYPE html>
<html lang="en" class="html">
    <!-- <script src="/api/session-p.js" defer></script> -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- title.title %> | <%- title.subtitle.xss %></title>
        <link rel="stylesheet" href="/styles/xss.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body class="body">
        <main class="main">
            <h2>Stolen cookies</h2>
            <% for(var i = 0; i < stolen.length; i++) { %>
                <p>
                    New cookie arrived:<br/>
                    &emsp;<%= stolen[i] %>
                </p>
            <% } %>
        </main>
    </body>
</html>