<!-- 
    example page vulnerable to reflected XSS
    Jan Zboril 
    xzbori20@stud.fit.vutbr.cz
    FIT VUT Brno 2023
    WAP proj2
 -->

<!DOCTYPE html>
<html>
<head>
    <title>Reflected XSS</title>
    <link rel="stylesheet" href="/styles/xss_frame.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/api/xss_reflected_frame.js"></script>
</head>
<body>
    <div class="example-controls">
        <span class="url">URL</span>
        <form action="/xss_reflected/frame" method="GET">
            <input id="search_bar" class="urlbar" type="text" value="<%- full_url %>">
            <input class="urlbutton" type="Submit" value="Go" onclick="sendReqXSS()">
        </form>
    </div>
    <div class="frame-content">
        <h1><i>Ye Daily Palantír</i></h1>
        <h1>Sauron's scandalous confession!</h1>
        <p>
            "I always wanted to be loved by Lúthien. I am jealous of Beren." --Sauron opened for the magazine.
        </p>
        <hr>
        <h3>
            Search for more news: 
        </h3>
        <form action="/xss_reflected/frame" method="GET">
        <input id='search' name="search" type="text">
        <input type="submit" value="Search">
        <p id="result_p">
            Your last search was: <% if (typeof search_result !== 'undefined') {
                    out = search_result;
                } else {
                    out = 'nothing';
                }
                %>
            <b><%- out %></b>
        </p>
    </div>
</body>
</html>