<!-- 
    example page vulnerable to stored XSS
    Jan Zboril 
    xzbori20@stud.fit.vutbr.cz
    FIT VUT Brno 2023
    WAP proj2
 -->

<!DOCTYPE html>
<html>
<head>
    <title>Stored XSS</title>
    <link rel="stylesheet" href="/styles/xss_frame.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/api/xss_stored_frame.js"></script>
</head>
<body>
    <div class="frame-content">
        <h1><i>Ye Daily Palantír</i></h1>
        <h1> Breaking News! Isengard Unleashed</h1>
        <p> Rohan spies confirm the movement of the White Hand.
            Saruman did not want to comment on the matter.
        </p>
        <hr>
        <h3>
            Add a comment: 
        </h3>
        <form action="/xss_stored/frame" method="POST">
            <textarea id="comment-area" name="search" style="width:250px;height:150px;"></textarea>
            <button id='add-comment-button' type="button">Add Comment</button>
        </form>
        <div id="comments">

        </div>
    </div>
</body>
</html>